{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h5>Bienvenue a l'espace thermicien</h5>
        {% if tickets %}
            <table class="table ">
                <thead>
                <tr>
                    <th scope="col">Nom du Projets</th>
                    <th scope="col">Status</th>
                    <th scope="col">IsThermician</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for ticket in tickets %}
                    <tr>
                        <th scope="row">{{ ticket.project.projectName }}</th>
                        <td>{{ ticket.project.status }}</td>
                        <th scope="col">
                            {% if ticket.activeThermician %}
                                Projets pris

                            {% else %}
                                Projet dispo
                            {% endif %}
                        </th>
                        <td><a href="{{ path('thermician_show_project', {'idProject': ticket.project.id}) }}" class="btn btn-info">Voir le projets</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
        {% if activeTicket %}
            <h3>Mes tickets</h3>
            <table class="table ">

                <thead>
                <tr>
                    <th scope="col">Nom du Projets</th>
                    <th scope="col">Status</th>
                    <th scope="col">IsThermician</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">{{ activeTicket.project.projectName }}</th>
                        <td>{{ activeTicket.project.status }}</td>
                        <th scope="col">
                            {% if activeTicket.activeThermician %}
                                Projets pris
                            {% else %}
                                Projet dispo
                            {% endif %}
                        </th>
                        <td><a href="{{ path('thermician_ticket_show', {'idProject': activeTicket.project.id}) }}" class="btn btn-info">Voir le projets</a></td>
                    </tr>
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}